* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0D0221;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --roxo-800: #0E002F;
    --roxo-700: #340576;
    --roxo-600: #5604C8;
    --roxo-500: #6C05FA;
    --roxo-400: #8441F1;
    --roxo-300: #A371F4;
    --roxo-200: #C2A0F8;
    --roxo-100: #E0D0FB; 

    --verde-800: #111F00;
    --verde-700: #396600;
    --verde-600: #569900;
    --verde-500: #81E500;
    --verde-400: #A0FF27;
    --verde-300: #C4FA7F;
    --verde-200: #DFFEB9;
    --verde-100: #F6FFEB;

    --cinza-700: #232B34;
    --cinza-600: #384552;
    --cinza-500: #475062;
    --cinza-400: #5B6474;
    --cinza-300: #747F95;
    --cinza-200: #9AA2B2;
    --cinza-100: #E4EAF4;

    --branco: #fff;
    --preto: #000;
    --radio-gradient-roxo: linear-gradient(142deg, rgba(150,96,228,1) 0%, rgba(150,96,228,1) 20%, rgba(86,4,200,1) 49%);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border: 1px solid var(--roxo-200);
    border-radius: 15px;
    width: 70%;
    background-color: #180142;
    backdrop-filter: blur(10px); 
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 14px;
}

nav ul li {
    margin-right: 20px;
    font-size: 14px;
}

nav ul li a, .right-nav a {
    color: white;
    text-decoration: none;
    
}

.right-nav a {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn-envio {
    border: 1px solid var(--roxo-200);
    border-radius: 18px;
    width: 10px;
    background-color: #8441F1;
}

.header {
    padding-top: 24px;
}

.btn {
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 28px;
    border: 1px solid var(--roxo-400);
    background: var(--radio-gradient-roxo);
    font-size: 12px;
    font-style: normal;
    font-weight: 600px;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: var(--branco);
}

.btn:hover {
    opacity: 60%;
}

.btn-outline {
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 28px;
    border: 1px solid var(--roxo-400);
    font-size: 12px;
    font-style: normal;
    font-weight: 600px;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: var(--branco);
}

.btn-outline:hover {
    opacity: 60%;
}
















.funds-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.fund-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #180142;
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    border: 1px solid var(--roxo-300);
}

.fund-option span {
    font-family: "Jersey 10";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    letter-spacing: 0.48px;
    color: var(--verde-500);
}

button {
    background-color: #A0FF03;
    color: var(--branco);
    padding: 10px 16px;
    border-radius: 46px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 1px solid var(--verde-200);
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    max-height: 216px;
    margin: 100px;
}

.textos {
    padding: 0px 100px;
}

.textos h2 {
    font-family: "Jersey 10";
    font-size: 71px;
    font-style: normal;
    font-weight: 400;
    line-height: 81px; /* 100% */
}

.textos p {
    max-width: 420px;
}

.saldo {
    background-color: #180142;
    border: 1px solid var(--roxo-300);
    border-radius: 15px;
    display: flex;
    padding: 40px 40px;
    
}
 
.saldo span {
    padding: 0px 20px;
    font-family: "Jersey 10";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    letter-spacing: 1px;
    color: var(--branco);
}

.saldo strong {
    padding: 0px 20px;
    font-family: "Jersey 10";
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    letter-spacing: 1px;
    color: var(--branco);
}



















.menufooter {
    color: #E0D0FB; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word; 
    text-decoration: none;         
}

.menutitulo {
    color: white;
    font-size: 14px;
    font-family: Inter; 
    font-weight: 700; 
    line-height: 20px; 
    word-wrap: break-word;
}

.menufooter1 {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items:  flex-start; 
    gap: 12px; 
    display: flex;
}

.footercontainer {
    flex-direction:column; 
    justify-content :flex-start; 
    align-items: flex-start; 
    gap: 18px; 
    display: inline-flex;
}

.footercontainer1 {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 500px; 
    display: inline-flex
}

.footerbox {
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 54px; 
    display: inline-flex;
}

.idioma {
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: rgba(62, 3, 144, 0.20); 
    border-radius: 4px; 
    border: 1px #C2A0F8 solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 6px; 
    display: inline-flex;
}

.br {
    text-align: right; 
    color: black; 
    font-size: 12px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 12px; 
    word-wrap: break-word;
}

.idiomabr {
    text-align: center; 
    color: #E0D0FB; 
    font-size: 12px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word;
}

.footerboxright {
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-end; 
    gap: 65px; 
    display: inline-flex;
}

.direitos {
    width: 209px; 
    color: #FAF8FF; 
    font-size: 12px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 14px; 
    word-wrap: break-word;
}

.insta ,
.medium,
.linkedin,
.whatsapp {
    width: 18px; 
    height: 18px; 
    position: relative;
}

.iconsleft1 {
    align-self: stretch; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex;
}

.iconsleft {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: flex
}

.iconsleft0 {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 44px; 
    display: inline-flex;
}

.footerbox1 {
    width: 1225px; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
}

.footerboxgeral {
    width: 100%; 
    height: 392px;
    margin-top: 62px;
    background: #5604C8; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}



